body {
  padding: 100px;
}
#container {
  text-align: center;
}
#blueDot {
  background-color: skyblue;
  height: 90px;
  width: 90px;
  margin-left: 47%;
  border-radius:50%;
  margin-top: 100px;
  margin-bottom: 100px;
  animation: bluedot-fade 3.5s infinite;
}
#title {
  font-size: 50px;
  animation: title-in 7s infinite;
}

#line {
animation: line-appear 7s infinite;  
}
@keyframes line-appear {
  0% {
    transform: translateX(0px);
  }
  71% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1000px);
  }
}
@keyframes bluedot-fade {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0.75;
  }
  25% {
    opacity: 0.5;
  }
  37.5% {
    opacity: 0.25;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.5;
  }
  87.5% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-in {
  0% {
    transform: translateY(-100px)
  }
  15% {
    transform: translateY(0px)
  }
  
}